* {
    box-sizing: border-box;
}
.blue {
    width: 10%;
    height: 100px;
    border: 1px solid black;
    background-color: blue;
    transition: 2s;
}
.blue:active {
    width: 100%;
}
.green {
    width: 10%;
    height: 100px;
    border: 1px solid black;
    background-color: green;
    transition: 2s;
}
.green:hover {
    width: 100%;
}